body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    background-color: hwb(35 91% 1%);
}
main{
    margin-top: 5%;
    width: 100%;
    height: 20vh;
    background-color: hsl(214, 100%, 25%);
    animation: sei 2s linear forwards;
}
main h1{
    color: #fffff0;
    font-family: "Oi", serif;
    font-weight: 400;
    font-style: normal;
}

@keyframes uau{
    0% {right: -100px; opacity: 0;}
    100% {right: 100px; opacity: 1;}
}
.morangu{
    height: 200px;
    width: 200px;
}
.morangu:hover{
    height: 250px;
    width: 250px;
    margin: solid black;
}
.sabor{
    text-decoration: none;
    background-color: aquamarine;
}

ul li {
    color: black;
    margin-right: 40px;
}

#ultimo{
    background-color: #012391;
    border-radius: 10px;
}
a{
    text-decoration: none;
}
.uni{
    height: 100px;
}

header {
  display: flex;
  align-items: center;            
  justify-content: space-between;
  background-color: #ffffff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
}

.logo {
  height: 60px;
  margin-left: 50%;
}

.menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-right: 10%;
}
.menu:not(:last-child){
  margin-left: 10%;
}
.menu li a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  transition: 0.3s;
}

.menu li a:hover {
  color: hsl(0, 0%, 100%);
  background-color: hsl(239, 100%, 50%);
  border-radius: 10px;
  padding: 5px 10px;
}

#ultimo a {
  background-color: #012391;
  color: #fff;
  border-radius: 10px;
  padding: 8px 16px;
  gap: 15px;
}

#ultimo a:hover{
  background-color: hsl(204, 100%, 36%);
  color: #ffffff;
  padding: 10px 20px;
  transition: 0.5s;
}
.historia{
  margin-top: 5%;
  display: flex;
}
.historia img{
  border-radius: 5%;
}
.historia02{
  padding-left: 20px;
}
.historia02 h1{
  font-family: "DM Serif Text", serif;
  font-weight: 400;
  font-style: normal;
}

.itens{
  display: flex;
}
ul{
  list-style: none;
}