body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    background-color: hwb(35 91% 1%);
}
main{
    margin-top: 5%;
    width: 100%;
    height: 20vh;
    background-color: hsl(214, 100%, 25%);
    animation: sei 2s linear forwards;
}
main h1{
    color: #fffff0;
    font-family: "Oi", serif;
    font-weight: 400;
    font-style: normal;
}

.sabor{
    text-decoration: none;
    background-color: aquamarine;
}

.menu li {
    color: black;
    margin-right: 40px;
}

#ultimo{
    background-color: #012391;
    border-radius: 10px;
}
a{
    text-decoration: none;
}
.uni{
    height: 100px;
}

header {
  display: flex;
  align-items: center;            
  justify-content: space-between;
  background-color: #ffffff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}

.logo {
  height: 60px;
  margin-left: 50%;
}

.menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-right: 10%;
}
.menu:not(:last-child){
  margin-left: 10%;
}
.menu li a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  transition: 0.3s;
}

.menu li a:hover {
  color: hsl(0, 0%, 100%);
  background-color: lab(11.85% 45.2 -60.81);
  border-radius: 10px;
  padding: 5px 10px;
}

#ultimo a {
  background-color: #012391;
  color: #fff;
  border-radius: 10px;
  padding: 8px 16px;
  gap: 15px;
}

#ultimo a:hover{
  background-color: hsl(204, 100%, 36%);
  color: #ffffff;
  padding: 10px 20px;
  transition: 0.5s;
}
.historia{
  margin-top: 5%;
  display: flex;
}
.historia img{
  border-radius: 5%;
}
.historia02{
  padding-left: 20px;
}
.historia02 h1{
  font-family: "DM Serif Text", serif;
  font-weight: 400;
  font-style: normal;
}

.itens{
  display: flex;
  padding: 0;
  padding-top: 10px;
}
ul{
  list-style: none;
}


.itens li{
  margin-left: 25px;
  position: relative;
}


.itens li p{
  position: absolute;
  top: 100px;
  left: -30 0px;
  font-size: 40px;
  color: #f70404;
}
footer{
  background-color: #012391;
  width: 100%;
  height: 100%;
  padding-bottom: 5px;
  margin-bottom: 0;
  text-align: center;
  color: #fff;
}
footer p{
  padding-top: 10px;
}


.pico-container {
  margin-left: 100px;
  margin-top: 30px;
  display: flex;
  gap: 40px;
  justify-content: space-between;
}

.picole1 {
  animation: pular 1.5s ease-in-out 0s infinite;
}

.picole2 {
  animation: pular 1.5s ease-in-out 0.5s infinite;
 }

.picole3 {
  animation: pular 1.5s ease-in-out 1s infinite;
}

.picole4{
  animation: pular 1.5s ease-in-out 1.5s infinite;
}
.picole1-desktop {
  animation: pular 1.5s ease-in-out 0s infinite;
}

.picole2-desktop {
  animation: pular 1.5s ease-in-out 0.5s infinite;
 }

.picole3-desktop {
  animation: pular 1.5s ease-in-out 1s infinite;
}

.picole4-desktop{
  animation: pular 1.5s ease-in-out 1.5s infinite;
}



.mobile_menu{
  display: none;
}

@keyframes pular {
  0%  { transform: translateY(0); }
  50% { transform: translateY(-10px); }
  100% { transform: translateY(0);}
}

@media screen and (max-width: 480px){
  .historia{
    display: block;
    justify-content: center;
  }
  .img_historia{
    margin-left: 25%;
  }
  .itens{
    display: block;
  }
  .itens img{
    justify-content: center;
  }
  .ultimo{
    display: block;
  }
  .menu{
    display: none;
  }
  .mobile_menu{
    display: block;
    position: relative;
    z-index: 1;
    right: 20px;
  }
  .drop {
  background-color: #012391;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  }
  .drop_conteudo {
  right: 1px;
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  }
  .drop_conteudo a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  }

  .drop_conteudo a:hover {
    background-color: #f1f1f1;
  }
  .mobile_menu:hover .drop_conteudo {
  display: block;
  }

  .itens{
   flex-direction: column;
   align-self: center;
  }
  .itens img{
    margin-top: 10px;
  }
  .picole1-desktop, .picole2-desktop, .picole3-desktop, .picole4-desktop{
    display: none;
  }
  .pico-container{
    margin-left: 15px;
  }
  .img_historia{
    width: 80%;
    margin-left: 10%;
  }
  .itens img{
    width: 70%;
  }
  .historia02{
    padding: 0;
  }
  .alguma-coisa{
    margin-top: 10%;
  }
 
}

@media screen and (min-width:481px) and (max-width:1024px) {
  .historia{
    display: block;
    justify-content: center;
  }
  .img_historia{
    margin-left: 25%;
  }
  .itens{
    display: block;
  }
  .itens img{
    justify-content: center;
  }
  .ultimo{
    display: block;
  }
  .menu{
    display: none;
  }
  .mobile_menu{
    display: block;
    position: relative;
    z-index: 1;
    right: 20px;
  }
  .drop {
  background-color: #012391;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  }
  .drop_conteudo {
  right: 1px;
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  }
  .drop_conteudo a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  }

  .drop_conteudo a:hover {
    background-color: #f1f1f1;
  }
  .mobile_menu:hover .drop_conteudo {
  display: block;
  }

  .itens{
   align-self: center;
   flex-wrap: wrap;
  }
  .itens img{
    margin-top: 10px;
  }
  .picole1-desktop, .picole2-desktop, .picole3-desktop, .picole4-desktop{
    display: none;
  }
  .pico-container{
    margin-left: 15px;
  }
  .img_historia{
    width: 80%;
    margin-left: 10%;
  }
  .itens img{
    width: 100%;
  }
  .historia02{
    padding: 0;
  }
 
  
}
.itens {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

.itens {
  display: flex;
  justify-content: center; 
  align-items: center;
  flex-wrap: wrap;
  margin: 40px auto;
  list-style: none;
}

.itens li {
  position: relative;        
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 10px;
  cursor: pointer;
}

.itens li img {
  display: block;             
  height: auto;
  border-radius: 10px;
  transition: all 0.4s ease;
}


.itens li p {
  position: absolute;

  color: white;
  font-size: 1.8rem;
  font-weight: bold;
  text-align: center;
  opacity: 0;
  transition: opacity 0.3s ease;
  text-shadow: 2px 2px 5px rgba(0,0,0,0.7);
}

.itens li:hover img {
  filter: brightness(40%);   
  transform: scale(1.05);    
}

.itens li:hover p {
  opacity: 1;                
}

.alguma-coisa{
  margin-left: 5%;
  margin-right: 5%;
  width: 90%;
  height: 10%;
  text-align: center;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  }