body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    background-color: hsl(34, 50%, 95%);
}
h1{
    color: black;
}
img{
    height: 200px;
    width: 200px;
}
#comprar:hover{
    background-color: hsl(313, 100%, 50%);
    margin: solid black;
}
.sabor1{
    text-align: center;
    height: 500px;
    width: 300px;
    background-color:hsl(34, 80%, 86%);
    border-radius: 1000px;
    margin-left: 20%;
    border: solid #755000;
}

ul li{
    color: black;
    margin-right: 40px;
}

#ultimo{
    background-color: #012391;
    border-radius: 10px;
}
a{
    text-decoration: none;
}
.uni{
    height: 100px;
}

header {
  display: flex;
  align-items: center;            
  justify-content: space-between;
  background-color: rgb(255, 255, 255);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
}

.logo {
  height: 60px;
  margin-left: 50%;
  width: 72px;
}

.menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-right: 10%;
}

.menu li a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  transition: 0.3s;
}

.menu li a:hover {
  color: #fff;
  background-color: hsl(239, 100%, 50%);
  border-radius: 10px;
  padding: 5px 10px;
}

#ultimo a {
  background-color: #012391;
  color: #fff;
  border-radius: 10px;
  padding: 8px 16px;
  gap: 15px;
}

#ultimo a:hover{
  background-color: hsl(204, 100%, 36%);
  color: #ffffff;
  padding: 10px 20px;
  transition: 0.5s;
}
