body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    background-color: hsl(34, 50%, 95%);
}
h1{
    color: black;
}
img{
    height: 200px;
    width: 200px;
}
#comprar:hover{
    background-color: hsl(313, 100%, 50%);
    margin: solid black;
}
.sabor1{
    text-align: center;
    height: 500px;
    width: 300px;
    background-color:hsl(34, 80%, 86%);
    border-radius: 1000px;
    margin-left: 20%;
    border: solid #755000;
}
#comprar{
    text-align: center;
    height: 50px;
    width: 50px;
    background-color: #f789df;
    border-radius: 100px;
}
#comprar h1{
    align-items: center;
}