
ul li{
    color: hsl(0, 0%, 0%);
    margin-right: 40px;
}
#ultimo{
    background-color: #012391;
    border-radius: 10px;
}
a{
    text-decoration: none;
}
.uni{
    height: 100px;
}

header {
  display: flex;
  align-items: center;            
  justify-content: space-between;
  background-color: rgb(255, 255, 255);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}

.logo {
  height: 60px;
  margin-left: 50%;
  width: 72px;
}

.menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-right: 10%;
}

.menu li a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  transition: 0.3s;
}

.menu li a:hover {
  color: #fff;
  background-color: lab(11.85% 45.2 -60.81);
  border-radius: 10px;
  padding: 5px 10px;
}

#ultimo a {
  background-color: #012391;
  color: #fff;
  border-radius: 10px;
  padding: 8px 16px;
  gap: 15px;
}

#ultimo a:hover{
  background-color: hsl(204, 100%, 36%);
  color: #ffffff;
  padding: 10px 20px;
  transition: 0.5s;
}


body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding-top: 100px; 
  background-color: hsl(255, 80%, 98%);
  color: #333;
}

body{
  background-color: rgb(250, 246, 240);
}
.titulo {
  text-align: center;
  margin-bottom: 2rem;
  font-size: 2.5rem;
  color: hsl(226, 100%, 77%);
  font-family: "Oi", serif;
  font-weight: 400;
  font-style: normal;
}


.sabores-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1.5rem;
  padding: 2rem;
  max-width: 1200px;
  margin: 0 auto;
}

.sabor {
  background: white;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  text-align: center;
  padding-bottom: 1rem;
  transition: transform 0.3s, box-shadow 0.3s;
}

.sabor:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 12px rgba(0,0,0,0.2);
}

.sabor img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 12px 12px 0 0;
}

.sabor h2 {
  margin: 0.5rem 0;
  color: hsl(0, 0%, 0%);
}

.sabor p {
  color: #555;
  font-size: 0.9rem;
  margin: 0 1rem;
}

.mobile_menu{
  display: none;
}


footer {
  background: #012391;
  color: white;
  text-align: center;
  padding: 1rem;
  margin-top: 2rem;
}


@media screen and (max-width: 1024px){
  .menu{
    display: none;
  }
  .mobile_menu{
    right: 20px;
    display: block;
    position: relative;
    z-index: 1;
  }
  .drop {
  background-color: #012391;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  }
  .drop_conteudo {
  right: 1px;
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  }
  .drop_conteudo a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  }

  .drop_conteudo a:hover {
    background-color: #f1f1f1;
  }

  .mobile_menu:hover .drop_conteudo {
    display: block;
  }


  header .logo{
    justify-content: center;
  }
 
}
